{%extends 'base.html'%}

{% block title%} Add Book {%endblock%}

{%block content%}
<div class="container mt-5">
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}

    <h1> Add Book </h1>
    <hr>

  <div class="mb-3">
    <input type="text" class="form-control" name="title" placeholder="Enter Book title" required>
  </div>

  <div class="mb-3">
    <input type="text" class="form-control" name="author" placeholder="Enter Author Name" required>
  </div>

  <div class="mb-3">
    <input type="text" class="form-control" name="isbn" placeholder="Enter ISBN Code" required>
  </div>

  <div class="mb-3">
    <input type="date" class="form-control" name="published_date" placeholder="Enter Published Date" required>
  </div>

  <div class="mb-3">
    <input type="number" class="form-control" name="available_copies" placeholder="Enter Number of copies" required>
  </div>

  <div class="mb-3">
    <input type="file" class="form-control" name="photo" placeholder="Select the Photo">
  </div>

  <div class="mb-3">
    <input type="text" class="form-control" name="category" placeholder="Enter Book category" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Add Book</button>
</form>


</div>


{%endblock%}