{%extends 'base.html'%}

{% block title%} Update Book {%endblock%}

{%block content%}
<div class="container mt-5">
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}

    <h1> Update Book </h1>
    <hr>
    <div id="emailHelp" class="form-text">You can only update the photo and Number of the copies</div>
  <div class="mb-3">
    <input type="text" class="form-control" name="title" placeholder="Enter Book title" readonly value="{{book.title}}">
    
  </div>

  <div class="mb-3">
    <input type="text" class="form-control" name="author" placeholder="Enter Author Name" required readonly value="{{book.author}}">
  </div>

  <div class="mb-3">
    <input type="text" class="form-control" name="isbn" placeholder="Enter ISBN Code" required readonly value="{{book.isbn}}">
  </div>

  <!-- <div class="mb-3">
    <input type="date" class="form-control" name="published_date" placeholder="Enter Published Date" required readonly value="{{book.published_date}}">
  </div> -->

  <div class="mb-3">
    <input type="number" class="form-control" name="available_copies" placeholder="Enter Number of copies" required  value="{{book.available_copies}}">
  </div>

  <div class="mb-3">
    <input type="file" class="form-control" name="photo" placeholder="Select the Photo"  value="{{book.photo}}">
  </div>

  <!-- <div class="mb-3">
    <input type="text" class="form-control" name="category" placeholder="Enter Book category" required readonly value="{{book.category}}">
  </div> -->
  
  <button type="submit" class="btn btn-primary">Update</button>
</form>


</div>


{%endblock%}