{%extends 'base.html'%}

{%block title%} Signup {%endblock%}

{%block content%}
<div class="container mt-5">
<form method="post">
    {%csrf_token%}

    <h1> Signup </h1>
    <hr>

  <div class="mb-3">
    <input type="text" class="form-control" name="name" placeholder="Enter your Name" required>
  </div>

  <div class="mb-3">
    <input type="number" class="form-control" name="contact" placeholder="Enter your contact number" required>
  </div>

  <div class="mb-3">
    <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
  </div>

  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
  </div>

  <p>Already Have an account <a href="/login">Login</a></p>
  
  <button type="submit" class="btn btn-primary">Signup</button>
</form>


</div>

{%endblock%}