{%extends 'base.html'%}

{%block title%} Update Role {%endblock%}

{%block content%}
<div class="container mt-5">
    <form method="post">
        {%csrf_token%}

        <h1> Update User Role </h1>
        <hr>

        <div class="mb-3">


            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="Enter your email" required readonly
                    value="{{mem.email}}">
            </div>


            <div class="mb-3">
                <select class="form-control" name="role" required>
                    <option value="admin" {% if mem and mem.role == 'admin' %}selected{% endif %}>Admin</option>
                    <option value="member" {% if mem and mem.role == 'member' %}selected{% endif %}>Member</option>

                </select>
            </div>


            <button type="submit" class="btn btn-primary">Update Role</button>
    </form>


</div>

{%endblock%}